# Python-specific
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
env.bak/
*.swp
*.swo

# Django-specific
db.sqlite3
/media/
staticfiles/

# System-specific
.DS_Store
Thumbs.db
*.log
*.pot
*.pyc
*.pid
*.seed
*.cover
*.egg-info/
.venv/
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Windows-specific
AppData/

